@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Quicksand:wght@300..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --primary-color: rgba(28, 20, 34, 0.8);
    --second-color: #670670;
    --text-color: #FFFFFF;
    --heading-font: "Inter", bold;
    --body-font: "Inter", sans-serif;
    --link-font: "Roboto", sans-serif;
    --copyright-font: "Quicksand", sans-serif;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url('../images/bgCV.png');
    background-size: cover;
    color: var(--text-color);
    font-family: var(--body-font);
}

.container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, auto);
    width: 100%;
    margin: 0 auto;
}

header {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, auto);
    text-align: center;
    justify-items: center;
    gap: 25px;
}

header h1 {
    font-family: var(--heading-font);
    font-size: 40px;
}

.headerDIV {
    background-color: var(--primary-color);
    border-radius: 0px 0px 25px 25px;
    width: 402px;
    height: 393px;
}

.image-container {
    width: 100%;
    height: auto;
    margin-top: 10px;
}

.image-container img {
    width: 50%;
    height: auto;
    border-radius: 360px;
    margin-top: 100px;
}

.interactive-box {
    display:grid ;
    grid-template-columns: 1fr 474px 1fr;
    gap: 10px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
}

.interactive-box span {
    display: inline-block;
    text-align: center;
    justify-items: center;
    align-items: center;
    font-family: var(--heading-font);
    font-size: 36px;

}

.interactive-box button {
    width: 170px;
    height: 80px;
    font-family: "Inter", light;
    color: var(--text-color);
    font-size: 32px;
    border-radius: 25px;
    background-color: var(--second-color);
    border: 2px solid black;
    flex-shrink: 0;
}

.counts {
    grid-column: 2/3;
    background-color: var(--primary-color);
    opacity: 80%;
    border-radius: 25px;
    width: 474px;
    height: 80px;
    gap: 40px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.counts i {
    margin: 10px;
}

.contact-info {
    background-color: var(--primary-color);
    border-radius: 25px;
    width: 949px;
    height: 61px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    gap: 50px;
}

.contact-info span {
    font-size: 24px;
    font-family: var(--body-font);
}

.main {
    margin: 0, auto;
    width: 100%;
    height: auto;
    text-align: center;
    justify-items: center;
    margin-top: 1.5rem;
    row-gap: 1.5rem;
}

.main-title {
    font-size: 40px;
    font-family: var(--heading-font);
    font-weight: 700;
    margin: 1.2rem 1.5rem auto;
    line-height: 1.5;
    display: flex;
    margin-bottom: 20px;
}

.Education {
    background-color: var(--primary-color);
    border-radius: 25px;
    width: 949px;
    height: 544px;
}
.education-div {
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 50px 25px;
    align-items: start;
    width: min(850px, 100%);
    margin: 4rem auto;
}

.education-div li {
    text-align: center;
    list-style: none;
}

#middle-school {
    grid-row: 2/3;
    grid-column: 2/3;
}

#collage {
    grid-column: 3/4;
    grid-row: 1/2;
}

.education-title {
    font-size: 1.5rem;
    font-family: var(--body-font);
    font-weight: 500;
}

.education-subject, .education-education {
    font-size: 1.5rem;
    font-family: var(--body-font);
}

.education-timetable {
    font-size: 1.5rem;
    font-family: var(--body-font);
    font-weight: 200;
}

.work-experience {
    background-color: var(--primary-color);
    border-radius: 25px;
    width: 1027px;
    height: 1022px;
}

.work-div {
    display: grid;
    grid-template-columns: repeat(2, auto);
}

.work-list {
    display: grid;
    row-gap: 35px;
    margin: 0rem 1.5rem auto;
    text-align: left;
    list-style: none;
}

.work-name, .work-location, .work-description{
    list-style: none;
    font-family: var(--body-font);
}

.work-name{
    font-size: 24px;
    font-weight: 500;
}

.work-location {
    font-size: 24px;
}

.work-description {
    font-size: 20px;
}

.work-timetable-elem {
    list-style: none;
    grid-column: 2;
    text-align: right;
    margin-right: 1.5rem;
    place-content: center;

    font-family: var(--body-font);
    font-weight: 200;
    font-size: 24px;
}

.language-skills {
    background-color: var(--primary-color);
    border-radius: 25px;
    width: 1027px;
    height: 320px;
}

.language-table {
    height: 60%;
    width: 100%;
}

#language-title {
    font-family: var(--body-font);
    font-size: 20px;
    font-weight: 100;
    display: grid;
    grid-template-columns:minmax(160px, 240px) repeat(5, auto);
    margin-bottom: 1.5rem;
}

.language-table-elements {
    font-family: var(--body-font);
    font-size: 24px;
    font-weight: 300;
    display: grid;
    grid-template-columns:minmax(160px, 240px) repeat(5, auto);
    grid-template-rows: repeat(3, auto);
    row-gap: 1.5rem;
}

.additional-info {
    background-color: var(--primary-color);
    border-radius: 25px;
    width: 1027px;
    height: 180px;
}

.additional-info p {
    text-align: left;
    width: 95%;
    margin: 0 auto;
}

.footer {
    width: 100%;
    margin: 3rem 0;
    text-align: center;
}

.contact-links, .copyright{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, auto);
    text-align: center;
    justify-items: center;
    margin-bottom: 10px;
}

.contact-list-links {
    font-family: var(--link-font);
    font-size: 24px;
    list-style: none;
    opacity: 0.5;
}

.contact-list-links a {
    text-decoration: none;
    color: var(--text-color);
}

.copyright {
    font-family: var(--copyright-font);
    font-size: 24px;
    opacity: 0.5;
}

@media (max-width: 480px){
    body{
        background-size: cover;
        background-position:center;
    }
    
    header {
        width: 480px;
    }

    .image-container img {
        margin-top: 80px;
    }

    .headerDIV p {
        font-size:  18px;
    }
    .interactive-box {
        width: 100%;
        display: block;
    }

    .counts {
        width: auto;
        gap: 10px;
    }
    .interactive-box button {
        width: 254px;
        margin-top: 18px;
        border-radius: 360px;
        font-size: 48px;
        font-weight: 300;
    }

    .contact-info {
        width: 90%;
        height: auto;
        display: grid;
        grid-template-rows: repeat(3, auto);
        gap: 10px;
        padding: 1rem;
    }

    .contact-info span{
        font-size: 32px;
        text-align: left;
    }

    .main{
        width: 480px;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, auto);

    }

    .main-title{
        display: block;
        margin-bottom: 10px;
    }

    .Education{
        width: 90%;
        height: auto;
        padding-bottom: 20px;
    }

    .education-div{
        display: block;
        margin: 5px;
    }

    .education-list {
        margin-bottom: 25px;
    }

    .work-experience{
        width: 90%;
        height: auto;
    }


    .work-div {
        display: grid;
        grid-template-columns: 1fr;
        padding-bottom: 10px;
    }

    .work-places{
        text-align: center;
    }

    .work-timetable-elem {
        grid-column: 1;
        text-align: center;
        font-size: 0.95em;
        margin-top: -40px;
    }

    .language-skills{
        width: 95%;
        height: auto;
    }

    .language-table{
        display: grid;
        grid-template-columns:repeat(4, auto);
        padding-left: 1.2rem;
        padding-right: 1.2rem;
    }

    #language-title{
        display: grid;
        height: 100%;
        grid-column: 1;
        grid-template-columns: 1fr;
        place-items:center left;
    }

    .language-table-elements{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, auto);
        place-items:center;
    }


    .additional-info{
        width: 90%;
        height: auto;
        padding-bottom: 20px;
    }

    .additional-info p{
        text-align: center;
        font-size: large;
    }

    footer{
        margin-top: 20px;
    }

    .contact-list-links {
        font-size: 20px;
    }

    .copyright {
        font-size: 20px;
    }

}